@font-face {
  font-family: "Classico";
  src: url("../fonts/Classico-free.otf") format("opentype");
}


@font-face {
  font-family: "Windsong";
  src: url("../fonts/Windsong.ttf") format("truetype");
}
